body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
    border-radius: 5px;
    margin: 10px;
}
.card{
    background: hsl(0, 0%, 100%);
    display: flex;
    border-radius: 10px ;
    text-align: center;
    width: 600px;
    height: 450px;

}
.visible{
    border-radius: 10px 0px 0px 10px;
    display: inline;
}
.hidden{
    display: none;
}
.one{
    letter-spacing: 4px;
    color: hsl(228, 12%, 48%);
}
p{
letter-spacing: 2px;
font-family: 'Fraunces', serif;
text-align: left;
font-size: 14px;
color: hsl(228, 12%, 48%);
line-height: 15px;
 
}
h1{
    color:  hsl(212, 21%, 14%);
    word-spacing: 1px;
    line-height: 35px;
    font-size: 40px;
    text-align: left;
}
.left-card{
    padding: 25px;
}
.price{
    display: flex;
    text-align: center;

}
.price h1{
    font-family: 'Fraunces', serif;
    color:  hsl(158, 36%, 37%);
}
.price p{
    text-align: center;
    padding: 22px;
    text-decoration: line-through;

}
button{
    background: hsl(158, 36%, 37%);
    color: white;
    border: none;
    border-radius: 5px;
    width: 240px;
    height: 40px;

}
@media all  and (max-width:375px) {
   
    .card{
        margin-top: 10px;
        background: hsl(0, 0%, 100%);
        border-radius: 10px ;
        text-align: center;
        width: 300px;
        height: 650px;
        display: block;
    }
    .hidden{
        display: inline;
        border-radius: 10px 10px 0px 0px;
    }
    .visible{
        display: none;
    }
    h1{
        color:  hsl(212, 21%, 14%);
        word-spacing: 1px;
        line-height: 33px;
        font-size: 35px;
        text-align: left;
    }
    
}
